NODE_ENV=development
DB_HOST=http://host.docker.internal:8090
DB_EMAIL=
DB_PASSWORD=
MAINNET_CHAIN_INDEX_BASE_URL=
PREVIEW_CHAIN_INDEX_BASE_URL=
DISCORD_WEBHOOK_URL=
PRIMARY_ARWEAVE_ENDPOINT=https://permagate.io
SECONDARY_ARWEAVE_ENDPOINT=https://arweave.net
PRIVATE_XERBERUS_API_KEY=
PRIVATE_XERBERUS_USER_EMAIL=
ARCHIVE_RETRY_HOURS=6
ARCHIVE_AGE_THRESHOLD_MINUTES=120
